* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Add styles here! */
header {
  padding: 48px 0;
}

main {
  background-color: hsl(0deg, 0%, 60%);
  border-top: 8px solid hsl(0deg, 0%, 40%);
  padding: 48px 0;
}

.max-width-wrapper {
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}

.intro-chunk {
  max-width: 480px;
  width: fit-content;
  padding: 16px;
}

.card {
  background-color: hsl(0deg, 0%, 100%);
  padding: 8px 24px;
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
}

.indented-heading {
  background-color: hsl(45deg, 100%, 50%);
  width: fit-content;
  padding: 16px 32px;
  margin-left: -32px;
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
}

h1 {
  margin-block-end: 40px;
}

h2 {
  margin-block-start: 0;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

p {
  line-height: 1.5;
}

header p {
  font-size: 1.75rem;
}

main p {
  font-size: 1.25rem;
}